

body
{
	font-family: 'open_sansregular';
	background-color: #ffffff;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
}


#container
{
	position: relative;
	margin: 0.5% 1% 0% 1%;
	height: 98%;
	width: 98%;
	overflow: hidden;
}

	.entityTabContent
	{
		position: relative;
		overflow: auto;
	}

	
#menubar
{
	position: relative;
	margin: 0.5% 1% 0% 1%;
	width: 98%;
	padding: .2em;
	overflow: hidden;
}

	#logged_in_as
	{
		position: relative;
		float: right;
		font-size: 12px;
		line-height: 34px;
	}
	
	#logged_in_user
	{
		position: relative;
		font-size: 12px;
		line-height: 34px;
		float: right;
		font-weight: bold;
		margin-left: 3px;
	}
	
	#logout, #notifications, #profile
	{
		position: relative;
		float: right;
		font-size: 16px;
		margin-left: 25px;
		font-weight: bold;
		cursor: pointer;
	}
	
	#menutitle
	{
		position: relative;
		float: left;
		line-height: 34px;
		font-size: 20px;
		padding-left: 20px;
		font-weight: bold;
	}
	
	
.menu
{
	position: relative;
	width: 100%;
	background-color: #ffffff;
}

	.menu ul
	{
		position: relative;
		overflow: hidden;
	}




	
/************ DIALOG EXTENDED ************************/
#dialog-extend-fixed-container .ui-dialog-titlebar
{
	font-size: 12px;
}
	

		
#objecttable table, #usertable table, #clienttable table, #equipmentgrouptable table, #costcentertable table, #contacttable table, .contract_objecttable table, #contracttable table, .contract_objectadd table

{
	position: relative;
	border-collapse: separate;
	border-width: 0px;
	font-size: 12px;
	width: 100%;
	margin-top: 10px;
	border: 1px solid #77d5f7;
}

	.objectlist_erow
	{
		background-color: #f7f7f7;
		border-bottom: solid 1px #f7f7f7;
	}
	
	.objectlist_active
	{
		background-color: #ABABAB !important;
	}
	
	.objectlist_overdue
	{
		background-color: #DC5D5D ;
	} 
	
	.objectlist_warning
	{
		background-color: #DC9A37 ;
	} 

	#objecttable th, #usertable th, #clienttable th, #equipmentgrouptable th, #costcentertable th, #contacttable th, .contract_objecttable th, #contracttable th, .contract_objectadd th
	{
		font-weight: bold;
		line-height: 25px;
		vertical-align: bottom;
		font-size: 15px;
		text-align: left;
		padding-left: 5px;
	}
	
		.listSortableIcon
		{
			position: absolute;
			margin: 4px;
			display: inline;
		}
	
	#objecttable td, #usertable td, #clienttable td, #equipmentgrouptable td, #costcentertable td, #contacttable td, .contract_objecttable td, #contracttable td, .contract_objectadd td
	{
		padding: 8px;
		font-size: 15px;
		border-top: solid 1px #000000;
		cursor: pointer;
	}		

.dialogColumnContainer
{
	position: relative;
	height: 300px;
	overflow-y: auto;
}		
		
	.dialogColumn
	{
		position: relative;
		float: left;
		width: 49%;
	}

		.dialogColumn.withMargin
		{
			margin-right: 1%;
		}
		
		.dialogColumn table
		{
			position: relative;
			width: 100%;
			
		}
			.dialogColumn tr
			{
				border-radius: 5px;
				border: 1px solid #a6c9e2;
			}
			
			.table_separator
			{
				border: 0px;
				height: 25px;
			}
			
			.dataHeader
			{
				position: relative;
				font-size: 15px;
				font-weight: bold;
				padding: 5px 15px;
				width: 50%;
			}
			
				.dataHeader:after
				{
					content: ':';
				}
			
			.dataValue
			{
				position: relative;
				font-size: 14px;
				padding: 5px 15px;
				text-align: left;
				width: 50%;
			}
			
				.dataValue .object_upload_img_file
				{
					display: none;
				}
			
				.dataValue .objectimg img
				{
					position: relative;
					cursor: pointer;
				}
			
				.dataValue input[type='text'], select, textarea
				{
				    width: 100%;
   					border: 1px solid #ccc;
    
				    -ms-box-sizing:content-box;
				    -moz-box-sizing:content-box;
				    box-sizing:content-box;
				    -webkit-box-sizing:content-box;
					padding: 2px 1px;
				}
			
				.dataValue input[type='text']
				{
				}
				
				.dataValue select
				{
					
				}
				
				.dataValue textarea
				{
					resize: none;
					height: 50px;
				}
				
				.dataValue .combobox
				{
				}
				
					.custom-combobox-input
					{
						width: 60% !important;
						padding: 0.4em 2.1em 0.4em 1em;
						height: 17px;
						outline: none;
					}
					
					.custom-combobox-toggle
					{
						padding: 0.4em 0em;
						height: 17px;
						margin-top: -2px;
					}

					
.DialogButtonHolder
{
	position: relative;
	margin-top: 15px;
	padding: 10px;
	border: 1px solid #a6c9e2;
}					

.object_overview_highlight
{
	position: relative;
	padding: 2px 5px;
}


.divider
{
	position: relative;
	margin: 10px 15px 10px 15px;
	border: solid 1px #cecece;
}		

.tab_header
{
	position: relative;
	font-size: 15px;
	font-style: italic;
	margin-bottom: 10px;
}

.history_items
{

}
	
	.history_item
	{
		position: relative;
		border: solid 1px #cecece;
		border-radius: 5px;
		margin: 15px;
		padding: 5px;
		overflow: hidden;
	}
	
		.history_item_header
		{
			position: relative;
			float: left;
			width: 150px;
		}
		
			.history_item_user
			{
				font-size: 14px;
				font-weight: bold;
				text-decoration: underline;
			}
			
			.history_item_date
			{
				font-size: 13px;
				margin-top: 5px;
			}
			
			.history_item_delete
			{
				margin-top: 8px;
				font-size: 13px;
				text-decoration: underline;
				cursor: pointer;
			}
		
		.history_item_content
		{
			position: relative;
			float: left;
			margin-left: 15px;
			font-size: 13px;
		}
			
	.history_edit
	{
		position: relative;
		margin: 0px 15px 0px 15px;
		border: solid 1px #cecece;
		border-radius: 5px;
		padding: 5px;
		overflow: hidden;
	}
	
		.history_edit_content
		{
			position: relative;
			width: 500px;
			height: 200px;
			border: solid 2px #cecece;
			font-size: 13px;
			margin-bottom: 5px;
			display: block;
		}
		
		.history_edit_save
		{

		}
		
		.objectDetail_editspan
		{
			position: relative;
			font-size: 13px;
		}	
		
.upload_items
{

}
	
	.upload_item
	{
		position: relative;
		border: solid 1px #cecece;
		border-radius: 5px;
		margin: 15px;
		padding: 5px;
		overflow: hidden;
	}
	
		.upload_item_user
		{
			position: relative;
			float: left;
			width: 150px;
			font-size: 14px;
			font-weight: bold;
			text-decoration: underline;
		}
		
		.upload_item_date
		{
			position: relative;
			float: left;
			width: 200px;
			font-size: 13px;
		}
			
		.upload_item_dl
		{
			position: relative;
			float: left;
			width: 17px;
			margin-right: 15px;
		}
		

		.upload_item_file
		{
			position: relative;
			float: left;
			font-size: 15px;
		}	
		
	.fileupload_edit
	{
		position: relative;
		margin: 0px 15px 0px 15px;
		border: solid 1px #cecece;
		border-radius: 5px;
		padding: 5px;
		overflow: hidden;
	}
	
		.fileupload_edit_desc
		{
			position: relative;
			width: 600px;
			border: solid 2px #cecece;
			font-size: 13px;
			height: 20px;
			line-height: 20px;
			margin-bottom: 5px;
		}
		
		.objectDetail_editspan
		{
			position: relative;
			font-size: 13px;
		}
		
		.objectFileDesc
		{
			position: relative;
			width: 400px;
			border: solid 2px #cecece;
			font-size: 13px;
			height: 20px;
			line-height: 20px;
			margin-bottom: 15px;
			padding: 1px 3px;
		}
		
		.fileupload_edit_file
		{
			position: relative;
			width: 400px;
			font-size: 13px;
			margin-bottom: 15px;
		}

.dialogActionbar
{
	position: relative;
	margin-bottom: 9px;
	overflow: hidden;
}

	.dialogAction
	{
		position: relative;
		margin-right: 10px;
	}
	
.filter
{
	display: none;
}

	.filterDialogOverflow
	{
		overflow: visible;
	}
	
.filterActive
{
	border: 1px solid #acdd4a !important;
	background: #6eac2c url("images/ui-bg_gloss-wave_50_6eac2c_500x100.png") 50% 50% repeat-x !important;
	font-weight: normal !important;
	color: #ffffff !important;
}

.no-close .ui-dialog-titlebar-close 
{
	display: none !important;
}

	
#object_service table
{
	width: 100%;
}

#object_service .dataHeader
{
	width: 20%;
	vertical-align: top;
}


#contract_objecttable input[type="checkbox"]
{
	width: 20px;
	height: 20px;
}

.contract_objectfilter
{
	position: relative;
	padding: 15px;
	border: 1px solid #77d5f7;
}




.notificationsActive
{
	border: 1px solid #cd0a0a !important;
	background: #e14f1c url("images/ui-bg_gloss-wave_45_e14f1c_500x100.png") 50% top repeat-x !important;
	color: #ffffff !important;
}

#notificationlist
{
	position: absolute;
	z-index: 10000;
	border-radius: 5px;
	padding: 10px;
	top: 55px;
	right: 167px;
}

	.notificationlistHidden
	{
		display: none;
	}

	.notification
	{
		position: relative;
		line-height: 20px; 
		overflow: hidden;
	}
	
		.notification_text
		{
			font-size: 12px;
			cursor: pointer;
			float: left;
		}
		
		.notification_text:hover
		{
			font-weight: bold;
		}
		
		.notification_dismiss
		{
			position: relative;
			float: left;
			margin: 2px 2px 2px 8px;
			width: 16px;
			height: 16px;
		}
		
			.notification_dismiss img
			{
				position: relative;
				width: 100%;
				cursor: pointer;
			}
		

